<!DOCTYPE html>
<html lang="en">

<head>
	<title>eCIStem</title>
	<meta charset="utf-8" />
	{% load static %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
				integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" >

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

</head>

<body class="body" style="background-color:#f6f6f6">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="http://www.asaflevylab.com/#"><img src="http://www.asaflevylab.com/labimages/levy_logo.png" style='max-height:40px;'alt="Asaf Levy Lab Logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{% url 'ecis_web_first_app:header1' 1 40 %}">eCIStem </a>
			</div> <!-- /.navbar-nav, left-hand content -->
			<div class="navbar-nav ml-auto">
				<!-- SEARCH BAR -->
				<form class="form-inline" action="/operonsearch" method="get">
					<input class="form-control mr-sm-2" name="q" type="text" placeholder="Operon ID" aria-label="Search">
					<button class="btn btn-outline my-2 my-sm-0" type="submit" style="color:green">SEARCH </button>
				</form>

			</div> <!-- /.navbar-nav, right-hand content -->
		</div> <!-- /.navbar-collapse -->
	</nav>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<div class="jumbotron" >
					<p class="lead">Welcome to eCIStem.</p>
					<hr class="my-4">
						<center>
							<img src="{% static 'ecis_web_first_app/static_ims/eCIStem-01.png' %}" class="card-img-top" alt="Responsive image">
						</center>
						<center>
							<a class="btn btn-primary btn-lg" href="{% url 'ecis_web_first_app:header0' 1 40 %}" role="button">Take me to the eCIStem!</a>
							<div class="btn-group" role="group">
						    <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      Search by Phylum
						    </button>
						    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									{% for entry in phylums_list %}
						      	<a class="dropdown-item" href="{% url 'ecis_web_first_app:phylumsearch' entry %}">{{entry}}</a>
									{% endfor %}
						    </div>
						  </div>
						</center>
					</div>

			 		<div class="accordion" id="landingPageAccordion">
				 		<div class="card">
						 <div class="card-header" id="headingOne">
							 <h2 class="mb-0">
								 <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										 eCIS are &quot;Headless Phage&quot; that Inject Effectors into Cells
								 </button>
						 	 </h2>
					 	</div>

				 		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#landingPageAccordion">
					 		<div class="card-body">
								Bacteria employ toxin-translocating secretion systems to exclude bacterial competitors and to infect host cells. Characterization of these systems and the toxins they secrete is important for understanding microbial interactions and virulence in different ecosystems. The extracellular Contractile Injection System (eCIS) is a cell-free toxin delivery particle that evolved from a bacteriophage tail. It is believed to be released from producing cells. eCIS particles in the environment then undergo binding to target cells, contraction, and injection of effectors, which sometimes are toxic. These nanomachines are understudied, and the Levy Lab has taken a broad bioinformatic and experimental approach to study eCIS. By mining genomes in the IMG database, we indentified 1,425 eCIS loci in 1,249 prokaryotic genomes (both Bacteria and Archaea). The publication can be accessed at (....).
				 			</div>
			 			</div>
		 			</div>
		 			<div class="card">
			 			<div class="card-header" id="headingTwo">
				 			<h2 class="mb-0">
					 			<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						 			eCIStem Database
					 			</button>
				 			</h2>
			 			</div>
			 			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#landingPageAccordion">
			 				<div class="card-body">
				 				eCIStem provides visualization of all eCIS operons. The database includes gene annotation, an eCIS operon search option based on taxonomy and gene clusters, and links to additional data from the IMG database (ref). eCIStem also contains ecological and life-style metadata of the eCIS encoding microbe. This valuable information can help researchers study eCIS with regard to its specific ecological functions and to deduce the eCIS target organism. Figure 7 from our publication (ref) presents some of the information held in eCIStem. eCIStem is an expanded version of the recently developed dbeCIS which includes 631 operons (ref). eCIStem provides protein domain data for all eCIS genes, as well as full database download option which will facilitate future bioinformatic analysis of our dataset by other members of the research community. The information held in eCIStem is freely available to users from academic non-profit institutions.
			 				</div>
		 				</div>
	 				</div>

 					<div class="card">
	 					<div class="card-header" id="headingThree">
		 					<h2 class="mb-0">
			 					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				 						Another interesting info
			 					</button>
		 				 </h2>
			 			</div>
	 					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#landingPageAccordion">
		 					<div class="card-body">
								to be added here
		 					</div>
	 					</div>
 					</div>
				</div>
			</div>
			<div class="col-sm-2">

			</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="https://il.linkedin.com/in/asaf-levy-b87a7145/" target="blank">LinkedIn</a> | <a href="https://twitter.com/AsafLevyHUJI/" target="blank">Twitter</a> | <a href="https://www.facebook.com/asaf.le" target="blank">Facebook</a></p>
		</div>
	</footer>
</body>


</html>
