<!DOCTYPE html>
<html lang="en">

<head>
	<title>eCIStem</title>
	<meta charset="utf-8" />
	{% load static %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
				integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" >

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

</head>

<body class="body" style="background-color:#f6f6f6">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="http://www.asaflevylab.com/#"><img src="http://www.asaflevylab.com/labimages/levy_logo.png" style='max-height:40px;'alt="Asaf Levy Lab Logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{% url 'ecis_web_first_app:header1' 1 40 %}">eCIStem </a>
			</div> <!-- /.navbar-nav, left-hand content -->
			<div class="navbar-nav ml-auto">
				<!-- SEARCH BAR -->
				<form class="form-inline" action="/genusearch" method="get">
					<input class="form-control mr-sm-2" name="q" type="text" placeholder="Genus" aria-label="Search">
					<button class="btn btn-outline my-2 my-sm-0" type="submit" style="color:green">SEARCH </button>
				</form>

			</div> <!-- /.navbar-nav, right-hand content -->
		</div> <!-- /.navbar-collapse -->
	</nav>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<div class="jumbotron" >
					<p class="lead">Welcome to eCIStem.</p>
					<hr class="my-4">
						<center>
							<img src="{% static 'ecis_web_first_app/static_ims/eCIStem-01.png' %}" class="card-img-top" alt="Responsive image">
						</center>
						<center>
							<a class="btn btn-primary btn-lg" href="{% url 'ecis_web_first_app:header0' 1 40 %}" role="button">Take me to the eCIStem!</a>
							<div class="btn-group" role="group">
						    <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      Browse by Phylum
						    </button>
						    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									{% for entry in phylums_list %}
						      	<a class="dropdown-item" href="{% url 'ecis_web_first_app:phylumsearch' entry %}">{{entry}}</a>
									{% endfor %}
						    </div>

						  </div>
							<div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">Browse by Pfam <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu" style = "height:auto;max-height: 500px;overflow-x: hidden;">
									{% for entry in pfams_list %}
                    <li><a class="dropdown-item" href="{% url 'ecis_web_first_app:pfamsearch' entry %}">{{entry}}</a></li>
                     {% endfor %}
                </ul>
            </div>
								<!-- <div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							 Browse by Pfam
						 </button>
						 <div class="dropdown-menu scrollable-menu" aria-labelledby="btnGroupDrop1">
							 {% for entry in pfams_list %}
								 <a class="dropdown-item" href="{% url 'ecis_web_first_app:pfamsearch' entry %}">{{entry}}</a>
							 {% endfor %}
						 </div>
						 	  </div> -->
						</center>
					</div>

			 		<div class="accordion" id="landingPageAccordion">
				 		<div class="card">
						 <div class="card-header" id="headingOne">
							 <h2 class="mb-0">
								 <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

										 The extracellular Contractile Injection System (eCIS)
								 </button>
						 	 </h2>
					 	</div>

				 		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#landingPageAccordion">
					 		<div class="card-body">
							The extracellular contractile injection system (eCIS) is a cell-free protein delivery system that is prevalent in bacteria and archaea but its biological function is poorly understood. The eCIS particle resembles the contractile tail of a T4 bacteriophage and is mostly encoded by an operon of 15-28 genes. This protein complex is 110-120 nm long and includes a baseplate, a sheathed hollow tube that has a needle-like tip (spike) on one side and a cap on the other side, and tail fibers that likely serve to adhere to target cells.</br>
							<center>
							<img src="{% static 'ecis_web_first_app/static_ims/ecis_fig.png' %}"  class="card-img-top" style='max-height:650px;'alt="img is missing">
						</center>
							</br>
							eCIS contraction propels the tube out of the sheath, likely enabling the sharp tip to perforate the target cell membrane. In addition to the structural proteins, eCIS particles are associated with effectors, which are proteins that are injected by the particle into target cells upon contraction. These effectors are usually encoded within the 3’ end of the operon. The studied effectors have enzymatic activities in the target cell, most of which lead to cell toxicity. eCIS shares structural similarity with other contractile nanoweapons such as type VI secretion system (T6SS) and R-type pyocins but differs from these by being extracellular and by injecting effectors into the target cell, respectively. Despite the prevalence of eCISs across the microbial world, only a few eCIS loci have been experimentally studied.
							</div>
			 			</div>
		 			</div>
		 			<div class="card">
			 			<div class="card-header" id="headingTwo">
				 			<h2 class="mb-0">
					 			<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						 			eCIStem Database
					 			</button>
				 			</h2>
			 			</div>
			 			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#landingPageAccordion">
			 				<div class="card-body">
				 			eCIStem provides visualization of 1,425 eCIS operons within 1,249 bacterial and archaeal genomes. The database includes operon, gene, protein, and protein domain information, as well as ecological and physiological metadata describing the eCIS encoding microbe, such as its natural host. This valuable information can help researchers to study eCIS with regard to its specific ecological functions and to deduce the eCIS target organism. The information held in eCIStem is freely available to users from academic non-profit institutions.
			 				</div>
		 				</div>
	 				</div>


				</div>
			</div>
			<div class="col-sm-2">

			</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
		</br>
			<p>Free Use to Academic Non-Profit Institutions. Other Users Please Contact Dr. Asaf Levy : alevy at mail.huji.ac.il</p>
		</div>
	</footer>
</body>


</html>
