<!DOCTYPE html>
<html>
  <head>
    <title>OPERON {{opid.operon_ID}}</title>
    <meta charset="utf-8" />
  	{% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" >
  	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
  	<style type="text/css">
  		html,
  		body {
  		  height:100%
  		}
  	</style>

  </head>
  <body class="body" style="background-color:#f6f6f6">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://www.asaflevylab.com/#" data-toggle="tooltip" data-placement="top" title="Levy Lab Huji"><img src="http://www.asaflevylab.com/labimages/levy_logo.png" style='max-height:40px;'alt="Asaf Levy Lab Logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" data-toggle="tooltip" data-placement="top" title="Home page for eCIStem" href="/">Home</a>
            </div> <!-- /.navbar-nav, left-hand content -->

            <!-- STUFF ON THE RIGHT -->
          </div> <!-- /.navbar-collapse -->
    </nav>
  	<div class="container-fluid" style="min-height:95%; ">
      	<div class="row">
          <br>
              <hr>
                </div>
  		<div class="row">
        <br>
            <hr>

  			  <div class="col-sm-10">

  				  <br>
            <center>
            <h5><i> {{ species_list.species }}</i>
            {{ species_list.strain }}</h5>
          </center><hr>
  				  <!-- <h4> <i>operon ID: {{ opid.operon_ID }} </i> </h4> -->
            <p> <i>genome ID: {{ species_list.genome_ID_x }} </i> </p>
            <p> <i>Scaffold:  {{scaffold.scaffold }} </i> </p>










        <div class="card">
  			  <div class="card-body">

            <!-- <div class="alert alert-dark" role="alert">
               <b>operonID:</b> {{ opid.operon_ID }}
               <b>genomeID:</b> {{ species_list.genome_ID_x }}
            </div> -->



            <img src="{% static opid.operon_IM.url %}" class="card-img-top" style='max-height:200px;'alt="{{opid.operon_IM}}">
            <!-- <div class="alert alert-dark" role="alert">
                Scaffold:  {{scaffold.scaffold }}
            </div> -->

          </div>
        </div>
      <!-- </div> -->

          <table class="table table-striped">
            {% if genes_list %}
                <thead>
                    <tr>
                      <th scope="col">IMG Gene ID</th>
                      <th scope="col">Start Coordinate</th>
                      <th scope="col">End Coordinate</th>
                      <th scope="col">Length (aa)</th>
                      <!-- <th scope="col">scaffold</th> -->
                      <th scope="col">Locus Tag</th>
                      <th scope="col">Afp Homolog</th>
                      <th scope="col">40% Cluster Group</th>
                      <th scope="col">Pfam Domains</th>
                    </tr>
                </thead>
                <tbody>
                  {% for entry in genes_list %}
                       <tr>
                        <td><a href="https://img.jgi.doe.gov/cgi-bin/m/main.cgi?section=FindGenes&page=fgFindGenes&searchFilter=gene_oid_list&searchTerm={{ entry.gene_id }}&noErrorFlag=1&seqstatus=&domainfilter=&selectType=allIsolates&taxonChoice=allIsolates&data_type=&file=g.gene_oid_list128658" data-toggle="tooltip" data-placement="top" title="IMG external DB">{{ entry.gene_id }}</a> </td>
                        <td>{{ entry.start_coord_x }}</td>
                        <td>{{ entry.end_coord_x }}</td>
                        <td>{{ entry.len_aa }}</td>
                        <td>{{ entry.locus_tag_x }}</td>
                        <!-- <td>{{ entry.core_whole }}</td> -->
                        <td><a href="{% url 'ecis_web_first_app:core_det' entry.core_whole %}" data-toggle="tooltip" data-placement="top" title="{{entry.core_whole}} afp homolog"> {{ entry.core_whole }} </a></td>

                        <td><a href="{% url 'ecis_web_first_app:cluster_det' entry.clust40pg %}" data-toggle="tooltip" data-placement="top" title="{{entry.gene_id}} 40% cluster info"> {{ entry.clust40pg }} </a></td>

                        <td>{{entry.pfams_list}} </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}
              <p>No Records. Table Not Created.</p>
            {% endif %}
        </div>
        <div class="col-sm-2">

            <div class="row-sm-2">
                <br>



            </div>

            <div class="row-sm-2">

          <!-- <button class="alert alert-dark" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
               <p>Organism's Physiological and Ecological Metadata</p>
          </button> -->

          <!-- <div class="collapse" id="collapse1"> -->
            <div class="card card-body text-grey bg-light" >
                <h5>Organism's Physiological and Ecological Metadata</h5>
                 Ecosystem: <i>{{ species_list.ecosystem }}</i></br>
                 Ecosystem Category:<i> {{ species_list.ecosystem_cat }}</i></br>
                 Ecosystem Subtype: <i> {{ species_list.ecosystem_subtype }}</i></br>
                 Ecosystem Type: <i> {{ species_list.ecosystem_type }}</i></br>
                 Gram Straining: <i>{{ species_list.gram_staining }}</i></br>
                 Habitat: <i>{{ species_list.habitat }}</i></br>
                 Host name: <i>{{ species_list.isolation }}</i></br>
                 Metabolism: <i> {{ species_list.metabolism }}</i></br>
                 Motility: <i>{{ species_list.motility }}</i></br>
                 Temperature Range:<i> {{ species_list.temp_range }}</i></br>

            <!-- </div> -->
    </div>
        </div>
          </div>
      </div>
    </div>
  </body>
</html>
