<!DOCTYPE html>
<html>
  <head>
    <title>{{ phyls_list.phylum }}</title>
    <meta charset="utf-8" />
  	{% load static %}
  	<!--<link rel="stylesheet" href="{% static 'ecis_web_first_app/css/bootstrap.min.css' %}" type = "text/css"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "ecis_web_first_app/css/mystyle.css" %}"/>
  	<style type="text/css">
  		html,
  		body {
  		  height:100%
  		}
  	</style>
  </head>
  <body class="body" style="background-color:#f6f6f6">
      	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="http://www.asaflevylab.com/#" data-toggle="tooltip" data-placement="top" title="Levy Lab Huji"><img src="http://www.asaflevylab.com/labimages/levy_logo.png" style='max-height:40px;'alt="Asaf Levy Lab Logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" data-toggle="tooltip" data-placement="top" title="Home page for eCIStem" href="/">Home</a>
            </div> <!-- /.navbar-nav, left-hand content -->
          </div> <!-- /.navbar-collapse -->
        </nav>

        <div class="container-fluid" style="min-height:95%; ">
          <div class="row">
      			 <div class="col-sm-12">
      				 <br>
      				 <center>
      						<img src="{% static 'ecis_web_first_app/static_ims/eCIStem-01.png' %}" class="card-img-top" style='max-height:270px; max-width:750px;' alt="Responsive image">
      				 </center>
      			  </div>
            <div class="col-sm-12">
              <div class="alert alert-dark" role="alert">
  				           <i>{{ pfams_list.pfam_name }}</i> pfam Operons </p>
  			      </div>
            </div><hr>
            <div class="col-sm-12">
            {% if page_obj %}
              {% for entry in page_obj %}
                  <div class="card">
                    <div class="card-body">
                      <div class="alert alert-dark" role="alert">
                        <a href="{% url 'ecis_web_first_app:operon_det' operon_id=entry.operon_ID %}"> Operon ID: {{entry.operon_ID}} </h5></a>
                      </div>
                    </div>
                    <img src="{% static entry.operon_IM.url %}" class="card-img-top" style='max-height:200px;'alt={{entry.operon_IM}}>
                  </div>
              {% endfor %}
           {% else %}
             <p>No Records. Table Not Created.</p>
          {% endif %}
            </div>
          </div>
          <div class="col-sm-12">

            <div class="pagination">
              <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>

    </div>
  </body>
</html>
