<!DOCTYPE html>
<html>
  <head>
    <title>ecis phylum filter</title>
    <meta charset="utf-8" />
  	{% load static %}
  	<!--<link rel="stylesheet" href="{% static 'ecis_web_first_app/css/bootstrap.min.css' %}" type = "text/css"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "ecis_web_first_app/css/mystyle.css" %}"/>
  	<style type="text/css">
  		html,
  		body {
  		  height:100%
  		}
  	</style>

  </head>
  <body class="body" style="background-color:#f6f6f6">



        <div class="container-fluid" style="min-height:95%; ">
          <div class="row">
              <div class="col-sm-12">
                <br>
                <center>
                <h2>eCIStem</h2>
                </center>
                <div class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                </div>

              </div>
          </div><hr>

    </div>
  </body>
</html>
